// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

// Font variables
@mixin p-font($p-font: Montserrat) {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

$h-font: 'Fraunces', serif;

// Color variables
$cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$dark-blue: hsl(212, 21%, 14%);
$dark-gray: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// Layout variables
$mobile: 375px;
$desktop: 1440px;


// Styles
* {
	box-sizing: border-box;
}

body {
	height: 100vh;
}

.card {
	.card-body {
		h1 {
			font-size: 1.5rem;
		}

		.string {
			position: relative;
			top: -200px;
		}

		a::before {
			content: "";

		}
	}
}